{% from "macros/fields.tmpl" import render_input_field, render_submit %}
{% extends "shared/layout.tmpl" %}

{% block title %}Zadání dat{% endblock %}

{% block content %}
  <h3>Forgotten password</h3>
  <div class="form-group">Zadej data.</div>
  <form method="POST" id='forgot-form'>
    {{ form.hidden_tag() }}
    {{ render_input_field(form.email) }}
    {{ render_submit() }}
  </form>
{% endblock %}
